*.log
*.class
*.iml
.DS_Store
.gradle
.idea
bin/
build/
gen/
gradle/
NorthConcepts-DataPipeline.license
Thumbs.db
temp/
Data-Ingestion-Pipeline/.project
Data-Ingestion-Pipeline/.classpath
Data-Ingestion-Pipeline/settings.gradle
Data-Ingestion-Pipeline/.settings/
Data-Ingestion-Pipeline/data/output/
Data-Ingestion-Pipeline/data/input/portfolio_template.csv
Data-Ingestion-Pipeline/data/input/portfolio_template_v2.csv
